:host {
  padding: 32px;
  display: inline-block;

  .grid {
    width: 400px;
    height: 400px;
    background-color: #fff;

    display: grid;
    place-items: center;

    .block {
      background-color: orange;
    }
  }
}

.example-form {
  min-width: 150px;
  max-width: 560px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

mat-card-footer > div {
  text-align: right;
  padding: 16px;
}

